/**
 * @title 花札Hanafuda
 * @author C-W-Z
 * @contact chenweizhang3021@gmail.com
 * @language 繁體中文, 日本語
 * @repo https://github.com/C-W-Z/Hanafuda.git
 */

/* import Yuji Syuku font */
@import url('https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap');

html {
    font-family: 'Yuji Syuku', 'Microsoft YaHei', sans-serif;
    font-size: 22px;
}

body {
	background:#1e1e1e;
    width: 100vw;
    height: 100vh;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
    background: rgb(144,128,96);
	background-size: cover;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px;
}