/**
 * @title 花札Hanafuda
 * @author C-W-Z
 * @contact chenweizhang3021@gmail.com
 * @language 繁體中文, 日本語
 * @repo https://github.com/C-W-Z/hanafuda.git
 * @copyright © 2023 C-W-Z
 */

html {
    font-family: 'Yuji Syuku', 'Microsoft YaHei', sans-serif;
    font-size: 20px;
}

body {
	background:#1e1e1e;
    width: 100vw;
    height: 100vh;
	margin: 0;
	padding: 0;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
    background: url('../imgs/bg.webp'), rgb(144,128,96);
    background-size: 5%;
	background-repeat: repeat;
    border-radius: 5px;
}