/**
 * @title 花札Hanafuda
 * @author C-W-Z
 * @contact chenweizhang3021@gmail.com
 * @language 繁體中文, 日本語
 * @repo https://github.com/C-W-Z/Hanafuda.git
 */

html {
    font-family: 'Yuji Syuku', 'Microsoft YaHei', sans-serif;
    font-size: 20px;
}

body {
	background:#1e1e1e;
    width: 100vw;
    height: 100vh;
	margin: 0;
	padding: 0;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
    background: rgb(144,128,96);
	background-size: cover;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px;
}

#menu{
    display: none;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    position: absolute;
    border-radius: 5px;
    background: white;
}
.menu{
    display: block;
    width: 100%;
    height: fit-content;
    padding: 5px 10px;
    background: white;
    color: black;
    border: none;
    border-radius: 0;
    font-family: 'Microsoft YaHei', sans-serif;
    font-size: inherit;
}
.menu:hover {
    background: #ccc;
    cursor: pointer;
}